repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-merge-conflict
    -   id: check-added-large-files
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.0
    hooks:
    -   id: ruff
        args: [--fix]
    -   id: ruff-format
-   repo: local
    hooks:
    -   id: hatch-mypy
        name: hatch mypy
        language: system
        entry: hatch run dev:check
        types: [python]
        pass_filenames: false  # Mypy usually works better on the whole project
